.lead__title {
  font-size: 96px;
  font-weight: 900;
  line-height: 1.04;
  text-align: center;
  height: 200px;
  width: 793px;
  margin: 0 auto;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .lead__title {
    height: unset;
    width: 575px;
    font-size: 96px;
    font-weight: 900;
    line-height: 1;
    text-align: center;
  }
}
